module.exports = {
	'slackToken': '', // Slack auth token
	'githubToken': '',
	'channels': {
		{id}: {name}
	},
	'repos': {
		'name': {
			'owner': {owner},
			'repo': {repo}
		}
	},
	'defaultRepo': (name)
};